<%= link_to user_post_url(user_id:@user.id, id: post.id), class:'nav-link' do%>
  <div class="card mb-3 border-success" style="width: 540px;">
    <div class="card-header bg-success text-white"><%= post.title %></div>
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.text.slice(0,70)%> ...</p>
    </div>
    <div class='card-footer d-flex gap-2 justify-content-end'>
      <p class="card-text"><small class="text-muted">Comments: <%= post.comments_counter %></small></p>
      |
      <p class="card-text"><small class="text-muted">Likes: <%= post.likes_counter %></small></p>
    </div>
  </div>
<% end %>